

// @media 

$breakpoint-mobile-425: 425px; 
$breakpoint-tablet: 768px;
$breakpoint-desktop-1024: 1024px;
$breakpoint-desktop: 1240px;
$breakpoint-desktop-1440: 1440px; 


// Colors 
$background-color: #F6F6F6;
$primary-color-purple: #9356DC;
$secondary-color-pink: #FF79DA;
$tertiary-color-teal: #99E2D0;
$text-grey: #353535;
$menu-cards-white: #FFF;

// Fonts
$font-family:'Roboto', sans-serif;
$font-titles: 'Shrikhand', serif;

$opacity: 0.9;