$background-color: #F6F6F6;
$primary-color-purple: #9356DC;
$secundary-color-pink: #FF79DA;
$tertiary-color-teal: #99E2D0;
$font-family: 'Roboto', sans-serif;
$text-grey: #353535;

@mixin button-style {
  border-radius: 39px;
  padding: 13px 23px;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 26%;
  background-image: linear-gradient(to bottom, $secundary-color-pink, $primary-color-purple);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
}

@mixin footer {
  background-color: $text-grey;
  width: 100%;
  height: 210px;
  color: white;

  h2 {
    font-family: 'Shrikhand', serif;
    font-weight: 300;
    padding: 20px;
  }

  span {
    font-weight: 600;
  }

  p {
    margin-left: 20px;
    padding-bottom: 10px;

    i {
      margin-right: 12px;
    }
  }

  a {
    color: inherit;
  }
}

@mixin logo {
  header {
    width: 100%;
    height: 70px;

    h1 {
      font-family: 'Shrikhand', serif;
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
  }
}



* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
}

header {
  @include logo
}

.div__location {
  background-color: #EAEAEA;
  color: $text-grey;
  border-top: 2px solid #EAEAEA; // work on the shadow
  box-shadow: 0 -2px 5px rgba(0.0, 0.0, 0.0, 0.3); // work on the shadow
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 20px;

  i {
    margin-right: 15px;
    margin-left: 20px;
    font-size: 16px;
  }

  h2 {
    margin-right: 40px;
    font-weight: 500;
  }

}

.section__reservez {
  background-color: $background-color;
  width: 100%;
  height: 265px;

  h2 {
    padding: 40px;
    font-weight: 700;
    text-align: center;
  }

  p {
    margin-top: -30px;
    margin-left: 20px;
    text-align: center;
    color: $text-grey;
    font-size: 18px;
    font-weight: lighter;
  }

  button {
    @include button-style;

    // Animations
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom, lighten($secundary-color-pink, 5%), lighten($primary-color-purple, 5%));
    }
  }

}

.section__fonctionnement {
  width: 100%;
  height: 400px;
  padding-bottom: 35px;
  counter-reset: steps;

  h2 {
    margin-top: 40px;
    margin-left: 20px;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 30px;
    margin-left: 9%;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 1.5rem 1rem;
    flex-grow: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: $background-color;
    border-radius: 1rem;
    font-weight: 500;
    width: 83%;

    .fas.fa-store {
      color: $primary-color-purple;
    }
  }

  li::before {
    content: counter(steps);
    counter-increment: (steps);
    color: white;
    background-color: $primary-color-purple;
    width: 1.7rem;
    height: 1.7rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    top: 31%;
    transform: translateY(8%);
    left: -5%;

  }



  i {
    color: #7E7E7E;
    margin-left: 15px;
    margin-right: 20px;
  }

}

a {
  text-decoration: none;
  color: black;
}

.section__restaurants {
  background-color: $background-color;
  width: 100%;
  padding-bottom: 40px;

  h2 {
    padding-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.div__card-content {
  background-color: white;
  width: 90%;
  height: 251px;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 70%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 5px;
    object-fit: cover;
  }

  h3 {
    margin-left: 15px;
    margin-top: 13px;
  }

  p {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 15px;
  }

  button {
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    padding: 7px 15px;
    border-style: none;
    border-radius: 4%;
    font-family: 'Roboto', sans-serif;
    color: #008766;
    font-weight: 500;
    font-size: 17px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    transform: translateY(60%);
    right: 35px;
  }

  .far.fa-heart {
    font-size: 1.8rem;
    position: absolute;
    right: 40px;
    transform: translateY(57%);
  }
}

footer {
  @include footer
}