* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 70px;
}
header h1 {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.div__location {
  background-color: #EAEAEA;
  color: #353535;
  border-top: 2px solid #EAEAEA;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 20px;
}
.div__location i {
  margin-right: 15px;
  margin-left: 20px;
  font-size: 16px;
}
.div__location h2 {
  margin-right: 40px;
  font-weight: 500;
}

.section__reservez {
  background-color: #F6F6F6;
  width: 100%;
  height: 265px;
}
.section__reservez h2 {
  padding: 40px;
  font-weight: 700;
  text-align: center;
}
.section__reservez p {
  margin-top: -30px;
  margin-left: 20px;
  text-align: center;
  color: #353535;
  font-size: 18px;
  font-weight: lighter;
}
.section__reservez button {
  border-radius: 39px;
  padding: 13px 23px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 30px;
  margin-left: 26%;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.section__fonctionnement {
  width: 100%;
  height: 360px;
  counter-reset: steps;
}
.section__fonctionnement h2 {
  margin-top: 40px;
  margin-left: 20px;
}
.section__fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 30px;
}
.section__fonctionnement li {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #F6F6F6;
  border-radius: 1rem;
}
.section__fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section__fonctionnement i {
  color: #7E7E7E;
  margin-right: 1rem;
  font-size: 1.5rem;

}

a {
  text-decoration: none;
  color: black;
}

.section__restaurants {
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 40px;
}
.section__restaurants h2 {
  padding-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.div__card-content {
  background-color: white;
  width: 90%;
  height: 251px;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.div__card-content img {
  width: 100%;
  height: 70%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 5px;
  object-fit: cover;
}
.div__card-content h3 {
  margin-left: 15px;
  margin-top: 13px;
}
.div__card-content p {
  font-size: 18px;
  font-weight: lighter;
  margin-left: 15px;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 210px;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  padding: 20px;
}
footer span {
  font-weight: 600;
}
footer p {
  margin-left: 20px;
  padding-bottom: 10px;
}
footer p i {
  margin-right: 12px;
}/*# sourceMappingURL=homepage.css.map */