@use "../utils/colors";
@use "../utils/mixins";
@use "../utils/variables";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: variables.$font-family;
}

nav {
    display: flex;
}

h1 {
    @include mixins.logo;
}