@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/variables";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: variables.$font-family;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.div__logo {
    @include mixins.logo;
    height: 0;
}

.div__image {
    img {
        width: 100%;
    }
}

main {
    background-color: variables.$background-color;
}
