

// @media 
$breakpoint-desktop: 1024px;

// Colors 
$background-color: #F6F6F6;
$primary-color-purple: #9356DC;
$secondary-color-pink: #FF79DA;
$tertiary-color-teal: #99E2D0;
$text-grey: #353535;
$menu-cards-white: #FFFFFF;
$gradient-color: linear-gradient(to bottom, lighten(#FF79DA, 5%), lighten(#9356DC, 5%));

// Fonts
$font-family:'Roboto', sans-serif;
$font-titles: 'Shrikhand', serif;

$opacity: 0.9;